<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.proc.mapper.IFactoryMapper">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, factory_name
    </sql>

    <select id="selectCom" resultType="com.x.proc.entity.t.TFactory">
        SELECT id, factory_name FROM t_factory;
    </select>
</mapper>
