<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.proc.mapper.IMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.x.proc.entity.sys.SysMenu">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="parent_ids" property="parentIds" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="href" property="href" />
        <result column="icon" property="icon" />
        <result column="show" property="show" />
        <result column="permission" property="permission" />
        <result column="remarks" property="remarks" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="del_flag" property="delFlag" />
    </resultMap>
    <sql id="selectColumns">
        SELECT
        a.id,
        a.parent_id,
        a.parent_ids,
        a.name,
        a.href,
        a.icon,
        a.sort,
        a.show,
        a.permission,
        a.remarks,
        a.create_date,
        a.update_date
        FROM sys_menu a
    </sql>

    <select id="findListByUserId" resultType="com.x.proc.entity.sys.SysMenu">
        <include refid="selectColumns"/>
        JOIN sys_role_menu rm ON rm.menu_id = a.id
        JOIN sys_role r ON r.id = rm.role_id AND r.enabled = '1' AND r.del_flag = '0'
        JOIN sys_user_role ur ON ur.role_id = r.id
        JOIN sys_user u ON u.id = ur.user_id AND u.id = #{userId}
        WHERE a.del_flag = '0'
        ORDER BY a.sort
    </select>

</mapper>