<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.proc.mapper.IProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.x.proc.entity.t.TProduct">
        <id column="guid" property="guid" />
        <result column="productName" property="productName" />
        <result column="core" property="core" />
        <result column="price" property="price" />
        <result column="total" property="total" />
        <result column="remake" property="remake" />
        <!-- association处理has-a关系 -->
        <!--注意：这种方式javaType必须指定，表示supervisor的类型是Teacher，否则会报错 -->
        <!--<association property="factory" select="com.x.proc.mapper.IFactoryMapper.selectById" column="factory_id">-->
        <!--</association>-->

        <association property="factory" javaType="com.x.proc.entity.t.TFactory">
            <id column="factory_guid" property="guid"/>
            <result column="factoryGuid" property="guid"/>
            <result column="factoryName" property="factoryName"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, `name`
    </sql>

    <select id="pageProductList" resultMap="BaseResultMap">
        SELECT m.guid guid, m.product_name productName, m.core core, m.price price, m.total total, m.remake remake, n.guid factoryGuid, n.factory_name factoryName FROM t_product m LEFT JOIN t_factory n ON m.factory_guid = n.guid
    </select>
</mapper>
