<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.proc.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.x.proc.pojo.Sys_User">
        <result column="id" property="id" />
        <result column="province_id" property="provinceId" />
        <result column="city_name" property="cityName" />
        <result column="description" property="description" />
    </resultMap>

    <parameterMap id="Sys_User" type="com.x.proc.pojo.Sys_User"/>

    <sql id="Base_Column_List">
        id, role_id, username, password, rel_name, mobile, id_card, created_at, status
    </sql>
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user
    </select>
</mapper>